build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.so
__pycache__/
.vscode
outputs/
vqvae_hard_biggerset_011.pt
tmp/
test.*
test/
bigtest/
smalltest/
mantest
*.log
doc/build